{
  "presets": [
    // [
    //   "@nrwl/web/babel",
    //   {
    //     "classProperties": { "loose": false }
    //   }
    // ]
    // ["@nrwl/web/babel", { "runtime": "automatic" }]
    // [
    //   "@nrwl/react/babel",
    //   {
    //     "runtime": "automatic"
    //   }
    // ]
    ["@nrwl/react/babel"]
    // ["@babel/preset-env"]
    // ["@babel/preset-env", { "runtime": "automatic" }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": false }]
    // ["@babel/plugin-proposal-private-methods", { "loose": true }],
    // ["@babel/plugin-proposal-class-properties", { "loose": true }],
    // ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
  ]
}
